@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

body
{
    font-family: 'Noto Sans', "Helvetica Neue",  Helvetica, Arial, sans-serif !important;
}

body > div.wrapper > aside > section > form > div > span.select2.select2-container.select2-container--bootstrap > span.selection > span
{
    font-size: 15px !important;
    background-color: inherit !important;
    border: inherit !important;
    margin-top: 4px !important;
}