
.typeaheadc, .tt-query, .tt-hint {
    display:block;
	width: inherit;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #d2d6de !important;
	background-color: #ffffff;
    border-radius: 0px !important;
    box-shadow: none !important;
   /* border-radius: 4px !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}
.typeaheadc {
    background-color: #fff;
}
.typeaheadc:focus {
    border: 2px solid #0097cf;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
   /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #2b65ec;
}
.tt-suggestion p {
    margin: 0;
}
.example-twitter-oss .tt-suggestion {
    padding: 8px 20px;
}
.example-twitter-oss .tt-suggestion + .tt-suggestion {
    border-top: 1px solid #ccc;
}
.example-twitter-oss .my-field-2 {
    float: right;
    font-style: italic;
}
.example-twitter-oss .my-field-1 {
    font-weight: bold;
}
.example-twitter-oss .my-field-3 {
    font-size: 14px;
}