
span.twitter-typeahead {
    /*width: 100%;*/
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group span.twitter-typeahead {
    border-radius: 0;
    border-color: #d2d6de;
    background-color: #fff;

}
.input-group .input-group-addon .span.twitter-typeahead {
    border-radius: 0;
    border-color: #d2d6de;
    background-color: #fff;

}
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important;
}

.typeahead, .tt-query, .tt-hint {
    display:block;
	width: inherit;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
	border: 1px solid #d2d6de !important;
	background-color: #ffffff;
    border-radius: inherit;
    box-shadow: none !important;
   /* border-radius: 4px !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/

}

.has-warning, #ship-error {
.form-control-validation(@state-warning-text; @state-warning-text; @state-warning-bg);
}
.has-error, #ship-error {
.form-control-validation(@state-danger-text; @state-danger-text; @state-danger-bg);
}


.typeahead {
    background-color: #fff;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}


.tt-dropdown-menu,
.tt-menu {
    position: absolute;
    /*top: 100%;*/
    top: 34px !important;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
    display: block;
    padding: 3px 20px;

    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    font-size: 18px;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    /*background-color: #f5f5f5;*/
    font-size: 18px;
   background-color: #2b65ec;;
    /*color: #262626;*/
    color: white;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
    color: #262626;
}
.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
    margin: 0;
}

/*.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
   /!*border: 1px solid #ccc;*!/
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #2b65ec;
}

.tt-suggestion.tt-selectable:hover {
    color: #fff;
    background-color: #2b65ec;
}
.tt-suggestion p {
    margin: 0;
}

.tt-menu {

    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;

    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-menu .tt-open {
    color: #fff;
    background-color: #2b65ec;
}

tt.highlight {

}

.form-control .tt-input
{
    display:block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc !important;
    background-color: #ffffff;
    border-radius: inherit !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

2b65ec
/*